* {
  margin: 0;
  padding: 0;
}

.menu {
  padding: 0;
  margin: 0;
  height: 50px;
  background-color: #a562c1;
  list-style: none;
}

.menu .trigger::after{
  content: ">";
  display: inline-block;
  position: absolute;
  right: 15px;
  transform: rotate(90deg) scale(0.5, 1);
  font-weight: bold;
}

.menu  li {
  width: 150px;
  position: relative;
  float: left;
  background-color: #a562c1;
  text-align: center;
  line-height: 50px;
}

.menu  li:hover {
  background-color: #7a3a95;
}

.menu  li:hover > .nav-dropdown {
  display: block;
}

.menu a {
  text-decoration: none;
  color: white;
}

.nav-dropdown {
  display: none;
}

.nav-dropdown .nav-dropdown {
  position: absolute;
  margin-left: 150px;
  top: 0px;
}


@media(max-width: 600px) {
  .menu > li {
    display: relative;
    width: 100%;
  }

  .nav-dropdown .nav-dropdown {
    position: relative;
    margin-left: 0px;
  }
}