* {
  margin: 0;
  padding: 0;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;

  > li {
    background-color: #a562c1;
    width: 150px;
    border: 0.5px solid #333;
    text-align: center;
    height: 50px;
    line-height: 50px;
    float: left;
    position: relative;
  }

  > li:hover {
    background-color: #7a3a95;
  }

  > li:hover > .nav-dropdown {
    display: block;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.nav-dropdown {
  display: none;

  .nav-dropdown {
    margin-left: 150px;
    top: 0px;
    position: absolute;
  }
}
